.jh-modal-button {
  width: 100%;
  cursor: pointer;
}

.jh-modal-button-contained {
  padding: 10px 5px;
  color: #fff;
  background-color: #2563eb;
  border: none;
  border-radius: 7px;
}

.jh-modal-button-contained:hover {
  opacity: 0.8;
}

.jh-modal-button-standard {
  background-color: transparent;
  border: none;
}
